@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.layout .ant-card {
  @apply border-none;
}

.ant-menu-sub {
  @apply !rounded-2xl;
}

.ant-layout-sider-collapsed .ant-menu-item-group-title,
.ant-layout-sider-collapsed .admin-layout-title {
  @apply hidden;
}

.handle-button-position {
  @apply sticky z-10 ml-auto w-fit bottom-6;
}

.ant-typography code {
  @apply !bg-gray-100 !border-none !rounded-lg;
  padding-inline: 0.6em !important;
  padding-block: 0.5em 0.5em !important;
}

h5.ant-typography {
  @apply mt-3;
}
